:root{
    --amarelo: #FFE485;
    --menta: #77CAB6;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--amarelo);
    font-family: "HelveticaNeueLT Std", sans-serif;
}

/*Geral*/

.grid {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;

    position: relative;

    margin-bottom: 20px;
}

.grid * {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/*Navegação*/

nav {
    background-color: white;
    height: 5em;
    width: 100%;
    position: fixed;
    font-family: "HelveticaNeueLT Std", sans-serif;
}

nav [class*='col-'] {
    text-align: center;
}

nav .icon [class*='col-']:first-child {
    transform: translateY(20%);
}

.logo img {
    height: 50px;
}

.icon img {
    height: 25px;
}

.logo, .icon {
    padding-top: 25px;
}

.icon input {
    border: 0;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    height: 25px;
}

/*Fundo de Imagem*/

.fundo {
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

/*Landing Page*/

.grid-welcome {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 20px;

    position: relative;

    margin-bottom: 20px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    height: 100%;
}

.button {
    background-color: var(--menta);
    color: white;
    border-radius: 40px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

/*Homepage*/

.rest {
    height: 200px;
    background-color: white;
    border-radius: 40px;
}


